@import "../utilities/mixins";

.galeria{
    @include centrarContenido;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 40px;
    margin-top: 30px;
}
.galeria__cards{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
}
.galeria__cards h2{
    margin-top: 20px;
    font-size: 23px;
    text-align: center;
    border-bottom: 3px solid $primary;   
}

.galeria__cards img{
    width: 100%;
    height: 100%;
}