/*Colores base*/
$primary: rgb(8, 164, 236);
$secondary: #000;
$tertiary: #fff;

/*Bordes*/
$bordeabajo: 2px solid $tertiary;
$borde: 1px solid $secondary;

/*Colores extras*/
$colores_extras:( 
    "azul": rgba(2, 68, 155, 0.3),
    "rojo": red,
    "celeste": cyan,
)