@media screen and (max-width:991px){
    header{
        display: flex;
        flex-direction: row-reverse;
        .logo{
            margin-right: 20px;
        }
    }
  
    /*PAGINA INICIO*/
    .carousel-inicio{
        width: 100%;
        margin-top: 90px;
        margin-bottom: 80px;
    }
    #inicio{
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .row{
        h4{margin-top: 40px;
        }
        h5{
        margin-top: 30px;
        }
        img{
        margin-top: 10px;
        }
    }
    .redsocial{
        display: flex;
        justify-content: start;
        flex-direction: row;
     }
      /*PAGINA PROYECTOS*/
    .project-example-first{
        width: 100%;

    }
    .carousel-proyecto{
        width: 100%;
    }
     /* PAGINA NOVEDADES*/ 
    .galeria{
        gap: 40px;
    }
     .galeria__cards{
        padding: 10px;
    }
      /*PAGINA CONTACTO*/
      .contacto{
        flex-direction: column;
      }
      .contacto-nombres{
        flex-direction: column;
        width: 93%;
      }

      .textarea{
        width: 90%;
      }
      .contacto__formulario{
        input{    
            width: 70%;
        }
        }
        .contacto__container iframe{
            width: 100%;
        }
    /* PAGINA NOSOTROS */
    .nosotroscontenido img{
        width: 450px;
    }
    .nosotroscaracteristicas img{
        width: 450px;
    }
     footer{
        height: 470px;
        .fa-dog{
            margin-bottom: 20px;
        }
     }
    }
@media screen and (max-width:420px){
    .nosotroscontenido img{
        width: 300px;
    }
    .nosotroscaracteristicas img{
        width: 300px;
    }footer{
        height: 520px;
        .redes-sociales a{
            padding-right: 30px;
       
        }
    }
}

  